<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.haetssal_jangteo.mapper.ReviewMapper">


    <select id="selectByStoreId">
        select
            r.id as review_id,
            i.id as item_id,
            i.item_name,
            u.user_name as reviewer_name,
            r.review_score_quality,
            r.review_score_delivery,
            r.review_score_kind,
            r.review_content,
            r.review_state,
            r.created_datetime
        from tbl_review r
        join tbl_item i on r.review_item_id = i.id
        join tbl_user u on r.review_user_id = u.id
        where i.item_store_id = #{storeId}
    </select>
</mapper>